CONFIG_IDF_TARGET="esp32s3"
CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_LWIP_MAX_SOCKETS=32
CONFIG_LWIP_SO_REUSE=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=n
